body {
  margin: 0;
  padding: 0;
}

.main-bg {
  background-color: rgb(131, 111, 202);
  width:500px;
  height:350px;
}

.play-area-bg {
  position: relative;
  background-color: rgb(72, 52, 146);
  width: 300px;
  height: 300px;
}

/* .play-area-bg::after {
  position: absolute;
  content: '';
  top: 10px;
  left: 10px;
  border-top: 6px solid rgb(179, 47, 47);
  width: 400px;
  transform: rotate(45deg);
  transform-origin: 0% 0%;
} */

.align-center {
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.p-1 {
  padding: 25px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.d-inline {
  display: inline;
}

.mt-0 {
  margin-top: 0;
}

.row-size {
  width: 300px;
  height: 100px;
}

.cell-size {
  width: 100px;
  height: 100px;
}

.text {
  font-size: 100px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.purple-line-h {
  background-color: purple;
  width: 320px;
  height: 6px;
  border-radius: 20px;
}

.purple-line-v {
  background-color: purple;
  width: 6px;
  height: 320px;
  border-radius: 20px;
}

.pos-rel {
  position: relative;
}

.pos-abs-firstline {
  position: absolute;
  top: 97px;
  left: -10px;
}

.pos-abs-secondline {
  position: absolute;
  top: 197px;
  left: -10px;
}

.pos-abs-thirdline {
  position: absolute;
  top: -10px;
  left: 97px;
}

.pos-abs-forthline {
  position: absolute;
  top: -10px;
  left: 197px;
}

.hor-cross-line {
  width: 260px;
  height: 6px;
  border-radius: 20px;
  background-color: rgb(179, 47, 47);
}

.pos-abs-hor-cross-1 {
  position: absolute;
  top: 47px;
  left: 20px;
}

.pos-abs-hor-cross-2 {
  position: absolute;
  top: 147px;
  left: 20px;
}

.pos-abs-hor-cross-3 {
  position: absolute;
  top: 257px;
  left: 20px;
}

.ver-cross-line {
  width: 6px;
  height: 260px;
  border-radius: 20px;
  background-color: rgb(179, 47, 47);
}

.pos-abs-ver-cross-1 {
  position: absolute;
  top: 20px;
  left: 47px;
}

.pos-abs-ver-cross-2 {
  position: absolute;
  top: 20px;
  left: 147px;
}

.pos-abs-ver-cross-3 {
  position: absolute;
  top: 20px;
  left: 247px;
}

.btn {
  width: 100%;
  padding: 20px;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  background-color: rgb(72, 52, 146);
  border-radius: 10px;
}

.text-white {
  color: white;
}

/* .f-cross-line {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: green;
}

.f-cross-line::before {
  content: '';
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  border-width: 147px;
  border-style: solid;
  border-color: red rgb(72, 52, 146);
}

.f-cross-line::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 0px;
  border-width: 150px;
  border-style: solid;
  border-color: rgb(72, 52, 146) transparent;
} */
.bg {
  position: relative;
}

.modal_bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: grey;
}

.modal_window {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.username {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 20px;
  outline: none;
  border: darkblue 2px solid;
  border-radius: 5px;
}

.btn {
  width: 100%;
  padding: 20px;
  font-size: 24px;
}

.close_btn {
  font-size: 24px;
  align-self: flex-end;
}